.hamburger-icon {
    display: block;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    height: 2px;
    width: 25px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.nav-links {
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    background-color: #092948;
}

.nav-links a {
    display: block;
}

@media (min-width: 640px) {
    .hamburger-icon {
        display: none;
    }
    .nav-links {
        flex-direction: row;
    }
    .nav-links a {
        display: inline-block;
    }
}